TG_BOT_API_KEY=12345:ABCdefg
DATABASE_URL=postgresql://....eu-central-1.aws.neon.tech/neondb?sslmode=require
LLM_API_KEY=sk-...your-openai-api-key-here...
LLM_MODEL=gpt-4o-mini
LLM_API_URL=https://api.openai.com/v1
LOG_LEVEL=DEBUG
